@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-link,
.nav-item,
.logo 
{
    text-decoration: none;
    color: #000;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #6096B4;
    z-index: 1;
    background: #fff;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.logo {
    font-size: 2rem;
    color: #6096B4;
    font-family: 'Playfair Display', serif; 
}

.nav-item {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    color: #6096B4;
}

.bg-images {
    width: 50%;
}

#home {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

#courses {
    display: flex;
}
.column {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.description-title{
    padding: 2rem;
    font-size: 3rem;
    color: #6096B4;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.4rem; 
}

.description-inner {    
    padding: 1.4rem;
    color: #6096B4;
    width: 100%;
    line-height: 50px;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.btn-more {
    padding: 1.4rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: #fff;
    opacity: 0.8;
    transition: 0.5s;
    text-decoration: none;
    color:#000;
}

.btn-more:hover {
    opacity: 1;
    color:#6096B4;
}

#tutors {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    height: 40vh;
}

.tutors-img {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.tutor-card {
    margin: 0 auto;
    width: 30%;
}

.tutor-names {
    text-align: center;
}

#partners {
    text-align: center;
}

.partner-list {
    width: 100%;
    height: 40vh;
}

.partners-card {
    margin: 0 auto;
    width: 20%;
}

.partners-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contact {
    background: #b8b5b5;
    color: #fff;
}

footer {
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1.2rem;
}

.footer-section {
    width: 25%;
    font-size: 2rem;
    padding: 1rem;
}

.footer-title {
    margin-bottom: 2rem;
    color: #6096B4;
    font-family: 'Playfair Display', serif; 
}

@media screen and (max-width: 768px){
    .wrapper {
        width: 90%;
        display: inline-block;
        text-align: center;
        font-size: 2rem;
    }

    .logos{
        display: block;
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
    }

    .menu {
        width: 100%;
    }

    .column {
        width: 100%;
    }

    .nav-item {
        margin: auto;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    #home,
    #courses,
    .bg-images {
        display: block;
        width: 100%;
    }

    .tutors-img {
        width: 100%;
    }

    .tutor-card {
        width: 70%;
        height: auto;
    }
    .tutor-list{
        width: 100%;
        height: 20vh;
    }

    .description-title,
    .description-inner
    {
        margin-bottom: 0;
    }

    section img {
        display: block;
    }

    .footer-section
    {
        padding: 1px;
        font-size: 1rem;
        width: 100%;
        gap: 2px;
    }
}